---
- name: Install Apache
  apt:
    name: apache2
    state: latest

- name: Install MySQL
  apt:
    name: mysql-server
    state: latest
  vars:
    mysql_root_password: "{{ mysql_root_password }}"

- name: Install PHP and required modules
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - php
    - libapache2-mod-php
    - php-mysql
  notify:
    - Restart Apache
- name: Clone Vulnerable-Web-Application GitHub repository
  git:
    repo: "https://github.com/OWASP/Vulnerable-Web-Application.git"
    dest: "/var/www/html/Vulnerable-Web-Application"
    version: master
  notify:
    - Restart Apache

- name: Enable Apache rewrite module
  apache2_module:
    name: rewrite
    state: present
  notify:
    - Restart Apache

- name: Ensure Apache service is running and enabled
  service:
    name: apache2
    state: started
    enabled: yes

- name: Set up Apache virtual host
  template:
    src: virtualhost.conf.j2
    dest: /etc/apache2/sites-available/000-default.conf
  notify:
    - Restart Apache
