---
- name: Restart Apache
  service:
    name: apache2
    state: restarted
  environment:
    DB_PASS: "{{ vault_mysql_root_password }}"
- name: Restart mysql
  service:
    name: mysql
    state: restarted