# roles/lamp_stack/templates/virtualhost.conf.j2
<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/html/Vulnerable-Web-Application

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory /var/www/html/Vulnerable-Web-Application>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
        DirectoryIndex index.html
        DirectoryIndex index.php
    </Directory>
</VirtualHost>